<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="side-bar">
            <div class="close-btn">
                <i class="fas fa-times"></i>
            </div>
            <div class="menu">
                <div class="item"><a href="/"><i class="fas fa-desktop"></i>Dashboard</a></div>
                <div class="item"><a href="/load"><i class="fas fa-file-upload"></i>Upload Dataset</a></div>
                <div class="item"><a href="/split"><i class="fas fa-code-branch"></i>Split Dataset</a></div>
                <div class="item"><a href="/accuracy"><i class="fas fa-chart-line"></i>Accuracy</a></div>
                <div class="item"><a href="/predict"><i class="fas fa-lightbulb"></i>Predict</a></div>
                <div class="item"><a href="/compare"><i class="fas fa-balance-scale"></i>Compare</a></div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('.menu-btn').click(function(){
                    $('.side-bar').addClass('active');
                    $('.menu-btn').css("visibility", "hidden");
                });
    
                $('.close-btn').click(function(){
                    $('.side-bar').removeClass('active');
                    $('.menu-btn').css("visibility", "visible");
                });
            });
        </script>
    </body>
</html>
